.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-menugroup {
  float: left;
  padding: 2px;
}

.App-menugroup-right {
  float: right;
  padding: 2px;
}

.App-menugroup-right > div {
  z-index: 0;
}

.App-menugroup-header {
  font-size: 90%;
}

.tab-content {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 10px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.App-clear {
    clear: both;
    padding-top: 20px;
    padding-left: 2px;
    padding-right: 2px;
    overflow: auto;
}

.Select-menu-outer {
    x-index: 3;
}

.effective-property {
    color: blue;
    font-weight: bold;
    font-size: 90%;
}

.App-stats-table {
    text-align: center;
    table-layout: fixed;
    width: auto;
    margin-bottom: 20px;
}

.App-stats-table > thead td.small-column {
    min-width: 40px;
    max-width: 40px;
    width: 40px;
}

.App-stats-table > thead td.wide-column {
    min-width: 160px;
    max-width: 160px;
    width: 160px;
}

.App-stats-table > thead td {
    min-width: 80px;
    max-width: 80px;
    width: 80px;
    vertical-align: top;
}

.App-stats-table td > span {
    display: block;
    margin-bottom: 1px;
    margin-top: 1px;
}

.App-stats-table td:first-child {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
}

.App-charts {
    padding-top: 20px;
}

.App-charts > div {
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
}

.App-chart-panel > div{
    float: left;
}

.App-tankselect {
    width: 250px;
    float: left;
    padding-right: 10px;
}

.App-tankselect-last {
    width: 360px;
    float: left;
}

.wn8-verybad { background-color: #000000; color: white; }
.wn8-bad { background-color: #cd3333; color: white; }
.wn8-belowaverage { background-color: #d77900; color: white; }
.wn8-average { background-color: #d7b600; color: white; }
.wn8-good { background-color: #6d9521; color: white; }
.wn8-verygood { background-color: #4c762e; color: white; }
.wn8-great { background-color: #4a92b7; color: white; }
.wn8-unicum { background-color: #83579d; color: white; }
.wn8-superunicum { background-color: #5a3175; color: white; }

.wn8 {
    border-radius: 25px;
}

.effective-plus {
    background-color: #98d22d;
    color: white;
    font-size: 90%;
    border-radius: 25px;
}

.effective-minus {
    background-color: #dc6f6f;
    color: white;
    font-size: 90%;
    border-radius: 25px;
}

.effective-zero {
    background-color: #cccccc;
    color: white;
    font-size: 90%;
    border-radius: 25px;
}

.arrow-up {
    background-color: #98d22d;
    color: white;
    font-size: 90%;
    border-radius: 25px;
}

.arrow-down {
    background-color: #dc6f6f;
    color: white;
    font-size: 90%;
    border-radius: 25px;
}

.comparison-chart-legend {
    position: absolute;
    left: 40px;
    top: 0px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
